sudo: false

language: node_js

node_js:
  - node

before_script:
  - npm install -g codeclimate-test-reporter

script: npm run ci-test

after_script:
  - CODECLIMATE_REPO_TOKEN=c03c3ee4ec400e561c058906ae176373b61677e0a13b2d6892015ed399a44274 codeclimate < coverage/lcov.info

deploy:
  provider: npm
  email: dr.evil@krtn.eu
  api_key:
    secure: eFmn89ea3wqktaD+ZLif/K8DqQG2Xb5y5QMsdGUVL1L4T/OutiLVlV2qwvu79vefotECP1kvFbrK20hQ48WIi/5TWGPTxU5AyP/q1Oy43ql09vdoaSJOSpCXBPfwx0y+BawbaltIRkyem5Qd1RWVzM+Izg5H5+sxjwbOLkyElgI=
  on:
    tags: true
    repo: v12/m3u-parser
